<%- include("partials/header.ejs") -%>

<h1>Check Digit Program</h1>

<form class="form-signin" action="/" method="post">

  <p class="h5">Enter Container Number below:</p>
  <input class="form-control" type="text" name="container" placeholder="e.g. MSKU5059863" required>
  <button class="btn btn-primary btn-block mt-3 form-control" type="submit" name="button">Submit</button>
</form>



<%- include("partials/footer.ejs") -%>
